# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.env
.venv/

# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db
